body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    /* color: rgb(243, 243, 243); */
    color: white;
    /* background-color: rgb(238, 238, 238); */
    background-color: #C69749;
    background-image: linear-gradient(to bottom, #d19638, #e6dbbd);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: sticky;
    display: flex;
    align-items: center;
    background-color: black;
    background-image: linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(255,255,255,0.05));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0 6rem;
    height: 8rem;
}

.header-logo {
    font-weight: 700;
    margin: 0 1rem;
    font-size: 2rem;
}

.header-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    margin: 1.5rem 0.5rem;
    margin-top: -0.75rem;
}

a {
    text-decoration: none;
    color:#735F32;
    transition: color 0.2s;
}

.locations-link {
    text-decoration: underline;
    color:#735F32;
}

a:visited {
    color: #735F32;
    transition: color 0.2s;
}

a:hover {
    color:#daa858;
    transition: color 0.2s;
}

.account > li > a:hover {
    color: white
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #C69749;
    border-radius: 50px;
    margin: 0 0.25rem;
    color: black;
    transition: border-radius 1s;
    
}

.media-links > a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-links:hover {
    background-color: #dfbe8b;
    border-radius: 5px;
    transition: all 0.2s;
}

.header-searchbar {
    width: 80%;
    padding: 0 1.5rem;
    background-color: rgb(241, 241, 241);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    height: 1.5rem;
    margin: auto;
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    outline: #C69749 solid 0px;
    transition: outline 0.555s ease-out;
}
.header-searchbar:focus {
    outline: #C69749 solid 3px;
    transition: outline 0.055s ease;
}
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: #aaa598;
    border-radius: 15px;
    margin: 0 2rem;
}

.cart > a > img {
    width: 30px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1.9rem;
}

.account {
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.account > li {
    margin: 0 0.5rem;
}

ul { 
    list-style-type: none;
}

.nav-links, .account {
    display: flex;
    justify-content: space-around;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 5px 20px;
  transition: all 0.3s ease;
  font-weight: 700;
}

.nav-links > li {
    margin: 0 1rem;
}

.nav-links > li > a{
    color: #d39737;
    transition: color 0.2s;
}

.nav-links > li > a:visited {
    color: #d39737;
    transition: color 0.2s;
}

.nav-links > li > a:hover {
    color:#e9c279;
    transition: color 0.2s;
}

.navbar {
    background-color: #282A3A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
}

.footer {
    margin-top: auto;
    background-color: black;
    background-image: linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.footer-logo {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links > ul {
    color: #ffac28;
    list-style-type: circle;
}

.footer-media-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.ordenes-container{
    display: flex;
    flex-direction: column;
}